*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML
*.json linguist-language=JSON
*.md linguist-language=Markdown
*.py linguist-language=Python
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.sh linguist-language=Shell
*.ps1 linguist-language=PowerShell
*.tf linguist-language=HCL
*.java linguist-language=Java
*.cpp linguist-language=C++
*.c linguist-language=C
*.cs linguist-language=C#
*.php linguist-language=PHP
*.rb linguist-language=Ruby
*.go linguist-language=Go
*.rs linguist-language=Rust
